

/* Resources */
/* https://mycolor.space/ */

/* https://color.adobe.com/create/color-wheel */


:root {

        

        
        --page-backcolor:rgb(53, 66, 88);
        --page-forecolor:rgb(255,255,255);

        --container-backcolor:rgb(41, 42, 71);

        --emphasis-forecolor:rgb(57, 180, 232);
        --emphasis-backcolor:rgb(63, 80, 108);



}
